<footer id="main-footer" class="py-5 text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="navbar-nav text-left my-2">
          <h2>Menu</h2>
          <li>
            <a href="{% url 'home' %}" class="text-white">
              <p class="lead">Home Page</p>
            </a>
          </li>
          <li>
            <a href="{% url 'about' %}" class="text-white"><p class="lead">About Us Page</p></a>
          </li>
          <li>
            <a href="{% url 'service' %}" class="text-white"><p class="lead">View our services</p></a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="text-white"><p class="lead">Get In Touch</p></a>
          </li>
                    <li>
            <a href="{% url 'question' %}" class="text-white"><p class="lead">FAQS</p></a>
          </li>
          <li>
            <a href="{% url 'blog' %}" class="text-white"><p class="lead">Blog</p></a>
          </li>
          <li>
            <a href="{% url 'testimonial' %}" class="text-white"><p class="lead">Testimonials</p></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 text-left">
        <h2>Call Us</h2>
        <p class="lead">
          <i class="fas fa-phone"></i> (616)-555-5555 <br>
        </p>
      </div>
      <div class="col-sm-4">
        <div class="social text-left">
          <h2> Follow Us</h2>
          <p class="lead">
            <a href="#" class="text-white">
              <i class="fab fa-twitter mr-3"></i>twitter
            </a> <br>
            <a href="#" class="text-white">
              <i class="fab fa-facebook mr-3"></i>facebook 
            </a> <br>
            <a href="#" class="text-white">
              <i class="fab fa-linkedin mr-3"></i>linkedIn
            </a><br>
            <a href="#" class="text-white">
              <i class="fab fa-instagram mr-3"></i>instagram
            </a>
          </p>
        </div>
      </div>
    </div>
    <div id="copyright" class="col-md-12">
      <p class="lead text-center">
        Copyright &copy;
        <span class="year"></span>Amisal homecare. All rights reserved.a Ahomecare is independently owned and operated.
      </p>
    </div>
  </div>
</footer>
