{% load static %}
<nav id="navbar-dark" class="navbar navbar-dark navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/navlogo.png' %}" class="logo" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li 
          {% if '/' == request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li 
          {% if 'about' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li
          {% if 'service' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'service' %}">Services</a>
        </li>
        <li
          {% if 'contact' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li
          {% if 'blog' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'blog' %}">blog</a>
        </li>
        <li
          {% if 'question' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'question' %}">faqs</a>
        </li>
        <li
          {% if 'testimonial' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'testimonial' %}">Testimonials</a>
        </li>
      </ul>
      <!-- auth start -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %} 
        <li
            {% if 'dashboard' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'dashboard' %}">
              Welcome {{user.username}} </a
            >
          </li>
          <li class="nav-item mr-3">
            <a href="javascript: {document.getElementById('logout').submit()}">
              <i class="fas fa-sign-out-alt"></i>Sign out
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %} 
              <input type="hidden" >
            </form>
          </li>
        {% else %}
          <li 
            {% if 'login' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Sign in</a
            >
          </li>
        {% endif %}
      </ul>
      <!-- auth end -->
    </div>
  </div>
</nav>
