{% extends 'base.html' %} 
{% block title %} | {% endblock %}
{% block content %} 
 <!-- Breadcrumb -->
 <section id="bc" class="mt-3">
   <div class="container">
     <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="{% url 'home' %}">
             <i class="fas fa-home"></i> Home</a>
         </li>
         <li class="breadcrumb-item active"> Blog</li>
       </ol>
     </nav>
   </div>
 </section>

 <section id="blog" class="py-4">
   <div class="container">
     <div class="row">
      <h3>Read Blogs</h3>
      <ul>
        {% if blogs %} 
        {% for blog in blogs %} 
        <li>
          <a href="{% url 'singleBlog' blog.id %}" class="text-info">
            {{blog.title}}
          </a> 
          <p class="lead">
            By {{ blog.author.first_name }} 
              {{ blog.author.last_name }} on
              {{ blog.post_date }}
             <br>
          </p>
        </li>
        {% endfor %}
        {% else %} 
        <div class="col-md-12">
          <p class="lead">No Data Available</p>
        </div>
      {% endif %}
      </ul>
     </div>
   </div>
 </section>
{% endblock %}

